* {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

header {
  margin-top: 2%;
  margin-left: 5%;
  width: 1131px;
  height: 3rem;
  flex-shrink: 0;
  margin-bottom: 2%;
  position: sticky;

}
main {
  display: flex;
  background: var(--surface-default, #eff4fa);
  margin-bottom: 20px;
}
nav {
  display: flex;
  max-width: 1131px;
  gap: 1011px;
}

.menu-item {
  list-style: none;
  display: flex;
  align-items: center;
  width: 120px;
}

nav > h3{
  width: 200px;
}

.menu-item > li {
  padding-right: 20px;
}

nav {
  background-color: white;
}

#content {
  width: 100%;
}

article > h2 {
  margin-left: 100px;
  margin-top: 20px;
  font-weight: bold;
}


.card {
  margin-top: 40px;
  margin-left: 200px;
  margin-bottom: 20px;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.09);
  max-width: 600px;
  display: none;
}

.card > img {
  width: 600px;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.card-content {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  max-width: 560px;
}

.card-content > h3 {
  font-weight: bold;
  padding-bottom: 10px;
}
.slide-button{
  text-align: center;
  padding-left: 120px;
}
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 30px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: blue;
}

.profile {
  display: flex;
  flex-direction: column;
}

.profile-header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 120px;
  border-radius: 50%;
}

.profile-header > h3 {
  text-align: center;
}

.profile-content > ul {
  list-style: none;
}

.profile-content > ul > li {
  display:flex;
  flex-direction: row;
  padding-bottom: 12px;
}
.profile-content > ul > li > span {
  width: 70px;
  font-weight:bold ;
}

footer{
  margin-top: 20px;

  text-align: center;
}